			</div>

		</div>

		<script src="reveal.js/lib/js/head.min.js"></script>
		<script src="reveal.js/js/reveal.js"></script>

		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script src="js/reveal-tweaks.js"></script>
	</body>
</html>
